@*
    message is not enveloped by post/reply div here
    to allow extending post with post-footer for replies in post view
*@

@using Data.Entities
@{
    Message message = ViewBag.Message;
}

@* message header *@
@if (message is Post)
{
    var post = (Post)message;

    // post header
    <div class="msg-label d-flex align-items-end">
        <h4 class="mb-1">
            @* post title *@
            @if (!ViewBag.PostView)
            {
                // link
                <a class="a-muted" asp-action="Post" asp-route-id="@post.Id">@*
                    *@@post.Title@*
                *@</a>
            }
            else
            {
                //no link
                @post.Title
            }

            @* link to author profile *@
            <span class="small">
                by
                <a class="a-muted" asp-controller="Account" asp-action="Profile" asp-route-id="@post.AuthorId">
                    @post.Author.Name
                </a>
            </span>
        </h4>
    
        @* topic button *@
        @if (ViewBag.PostView || ViewBag.NewView)
        {
            <h5 class="ms-auto mb-1">
                <a class="link-icon" asp-action="Topic" asp-route-id="@post.TopicId">
                    <span class="fa-solid fa-lightbulb me-2"></span>
                    <span>@post.Topic.Name</span>
                </a>
            </h5>
        }
    </div>
}
else
{
    // reply header
    <div class="msg-label d-flex align-items-end">
        <h6 class="mb-0">
            @* link to author profile *@
            <a class="a-muted" asp-controller = "" asp-action="Author" asp-route-id="@message.AuthorId">
                @message.Author.Name
            </a>
        </h6>
    </div>
}

@* message body *@
<div class="msg-body">
    @Html.Raw(message.Text.Replace(Environment.NewLine, "<br/>"))
</div>

@* message footer *@
<div class="msg-label d-flex align-items-end">
    @* rating pane *@
    @await Component.InvokeAsync("RatingPane", message)

    <div class="ms-auto d-flex align-items-end">
        @* reply button *@
        @if ( ViewBag.PostView )
        {
            <a class="link-icon" asp-action="NewReply" asp-route-id="@message.Id">
                <span class="fa-solid fa-comment text-large mx-2"></span>
                <span>Reply</span>
            </a>
        }

        @* reply count *@
        @if (message is Post)
        {
            var post = (Post)message;
            if (ViewBag.PostView)
            {
                <div class="vr ms-2"></div>
                <span class="ms-2">
                    @post.Replies.Count replies
                </span>
            }
            else
            {
                <a class="a-muted" asp-action="Post" asp-route-id="@post.Id">
                    @post.Replies.Count replies
                </a>
            }
        }
    </div>
</div>