@{
    var post = ViewBag.Post;
}

<div class="msg-label d-flex align-items-end">
    <h4 class="mb-1">
        @if (!ViewBag.PostView)
        {
            <a class="a-muted" asp-action="Post" asp-route-id="@post.Id">@*
                *@@post.Title@*
            *@</a>
        }
        else
        {
            @post.Title
        }
        <span class="small">
            by
            <a class="a-muted" asp-action="Author" asp-route-id="@post.AuthorId">
                @post.Author.Name
            </a>
        </span>
    </h4>
            
    @if (ViewBag.PostView || ViewBag.NewView)
    {
        <h5 class="ms-auto mb-1">
            <a class="link-icon" asp-action="Topic" asp-route-id="@post.TopicId">
                @post.Topic.Name
                <span class="fa-solid fa-angle-double-up"></span>
            </a>
        </h5>
    }
</div>